{
    "TELEGRAM_SETTINGS" :
    {
        "PROXY" : "api.telegram.org",
        "BOT_ID" : "",
        "BOT_TOKEN" : ""
    },
    "MAIL_SETTINGS" :
    {
        "USER" : ".",
        "PASSWORD" : "",
        "FROM" : "",
        "SMTP" : "smtp.yandex.ru"
    },
    "HAPPYFOX_SETTINGS" : 
    {
        "API_ENDPOINT" : "https://url.happyfox.com/api/1.1/json",
        "API_KEY" : "",
        "API_SECRET" : ""
    },
    "SEND_ALERT" : 
    {
        "GROUP_ALERT_NEW_TICKET" : "-"
    },
    "YANDEX_DISK":
    {
        "OAUTH-TOKEN" : "",
        "CLIENT_ID" : "",
        "CLIENT_SECRET" : ""
    },
    "FILE_SHARE":
    {
        "USERNAME" : "",
        "PASSWORD" : "",
        "DOMAIN" : ""
    },
    "NEXT_CLOUD":
    {
        "URL" : "https://cloud.url.ru",
        "USER" : "ncloud",
        "PASSWORD" : ""
    },
    "YANDEX_DISK_FOLDERS":
    [
        "/Документация url/iPad/{version_SB}/RU",
        "/Документация url/Server/{version_SB}/RU",
        "/Документация url/Server/{version_SB}/RU/USERS",
        "/Документация url/Server/{version_SB}/RU/ADMINISTRATORS"
    ]
}