{
    "TELEGRAM_SETTINGS" :
    {
        "PROXY" : "api.telegram.org",
        "BOT_ID" : "",
        "BOT_TOKEN" : ""
    },
    "MAIL_SETTINGS" :
    {
        "USER" : "",
        "PASSWORD" : "",
        "FROM" : "",
        "SMTP" : ""
    },
    "MAIL_SETTINGS_SUPPORT":
    {
        "USER" : "",
        "PASSWORD" : "",
        "FROM" : "",
        "SMTP" : ""
    },
    "HAPPYFOX_SETTINGS" : 
    {
        "API_ENDPOINT" : "https://url.happyfox.com/api/1.1/json",
        "API_KEY" : "",
        "API_SECRET" : ""
    },
    "SEND_ALERT" : 
    {
        "GROUP_ALERT_NEW_TICKET" : "",
        "GROUP_RELEASE" : "",
        "GROUP_TICKETS" : ""
    },
    "YANDEX_DISK":
    {
        "OAUTH-TOKEN" : "",
        "CLIENT_ID" : "",
        "CLIENT_SECRET" : ""
    },
    "FILE_SHARE":
    {
        "USERNAME" : "",
        "PASSWORD" : "",
        "DOMAIN" : ""
    },
    "NEXT_CLOUD":
    {
        "URL" : "https://cloud.url.ru",
        "USER" : "ncloud",
        "PASSWORD" : ""
    },
    "YANDEX_DISK_FOLDERS":
    [
        "/Документация url/iPad/{version_SB}/RU",
        "/Документация url/Android/{version_SB}/RU",
        "/Документация url/Server/{version_SB}/RU",
        "/Документация url/Server/{version_SB}/RU/USERS",
        "/Документация url/Server/{version_SB}/RU/ADMINISTRATORS",
        "/Документация url/BoardMaps 3.0/{version_SB}/RU"
    ],
    "CREG":
    {
        "URL" : "http://creg.url.ru",
        "USERNAME" : "",
        "PASSWORD" : ""
    },
    "WEB_SERVER":
    {
        "USERNAME" : "",
        "PASSWORD" : ""
    }
}