{
    "TELEGRAM_SETTINGS" :
    {
        "PROXY" : "api.telegram.org",
        "BOT_ID" : "5666985174",
        "BOT_TOKEN" : "5666985174:AAHyF7DQa2iQ5QeFTil8ltLtYwR3cGbfEHw"
    },
    "MAIL_SETTINGS" :
    {
        "USER" : "sup-smtp@boardmaps.ru",
        "PASSWORD" : "rcjtcxvjzfsjglko",
        "FROM" : "sup-smtp@boardmaps.ru",
        "SMTP" : "smtp.yandex.ru"
    },
    "HAPPYFOX_SETTINGS" : 
    {
        "API_ENDPOINT" : "https://boardmaps.happyfox.com/api/1.1/json",
        "API_KEY" : "45357d176a5f4e25b740aebae58f189c",
        "API_SECRET" : "3b9e5c6cc6f34802ad5ae82bafdab3bd"
    },
    "SEND_ALERT" : 
    {
        "GROUP_ALERT_NEW_TICKET" : "-784493618"
    },
    "YANDEX_DISK":
    {
        "OAUTH-TOKEN" : "y0_AgAEA7qkB2AWAAlIKgAAAADel0HQaYRTiTBYSu6efA-81KEa9Yxw9eM",
        "CLIENT_ID" : "8525a645d7744d008ea42465c080b2a7",
        "CLIENT_SECRET" : "1b9335d34574471b894d1c2576305a11"
    }
}