<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отчёты по тикетам</title>
    <!-- Подключаем Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Подключаем Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Подключаем daterangepicker -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">  
    <!-- Подключаем Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <!-- Подключаем vue-good-table и CSS -->
    <script src="https://unpkg.com/vue-good-table@2.21.10/dist/vue-good-table.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-good-table@2.21.10/dist/vue-good-table.min.css" />
</head>
<body>
    <div class="container" style="max-width: 100%;">
        <h2>Отчет по тикетам</h2>
        <div class="form-group">
            <label for="report-date-range">Выберите диапазон дат отчета:</label>
            <input type="text" id="report-date-range" class="form-control" />
        </div>
        <div id="app" class="container" style="max-width: 100%;">
            <vue-good-table
                :columns="columns"
                :rows="rows"
                :line-numbers="true"
                :search-options="{ enabled: true, placeholder: 'Поиск по таблице' }"
                :pagination-options="{ enabled: true, mode: 'pages' }"
            >
            </vue-good-table>
        </div>
        <h2>Причины возникновения</h2>
        <div style="width:50%;">
            <script type="application/json" id="report-data-tag">{{ reportData|tojson|safe }}</script>
            <canvas id="chart"></canvas>
        </div>
    </div>
    <script src="{{ url_for('static', filename='report_chart.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='report_table.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='report.js') }}"></script>
</body>
</html>
